@use '../abstracts/colors' as colors;
@use '../components/buttons.scss';
@use '../components/text.scss';
header{
    background-color: colors.$bgColor;
    padding: 2em 0;
    color:white;
    text-align: center;
    margin-bottom: 1em;
    .header__link{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
}
.info__cart{
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0,0,0, .3);
    background-color: white;
    font-size: 18px;
}
.info__cart--welcome{
    @extend .info__cart;
    
}
.event__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:70%;
    max-width: 95%;
    width: fit-content;
    margin-bottom: 3em;
    margin: auto;
    
}
.event__info{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.event__members{
    border-top: dotted 4px colors.$bgColor;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    width: 100%;
    gap: 1em;
    padding: 1em 0;
    justify-items: center;
}
.member{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: colors.$santaHat;
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 6em;
    height: 6em;
    display: flex;
    flex-direction: column;
    gap:.5em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    text-decoration: none;
    transition: transform .3s;
    will-change: transform;
}
.member:hover{
    transform: scale(.95);
}
@media screen and (max-width:1000px) {
    .event__members{
        grid-template-columns:repeat(2, 1fr) ;
    }
    .event__info{
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .info__cart--welcome{
        text-align: left;
    }
}
