@use '../abstracts/colors' as colors;
.footer{
    background-color: colors.$bgColor;
    color:white;
    margin-top: 2em;
    padding:2em 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}