@use './buttons';
@use '../abstracts/colors' as colors;
$mainInputHeight:3em;
.section__title{
    font-size: 30px;
}
.header{
    width: 100%;
    height: 100vh;
    text-shadow: 0 0 5px rgba(black ,.3);
    display: flex;
    text-align: center;
    background-color: colors.$santaHat;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    justify-content: center;
    position: relative;
    .main__section{
        color: white;
        transform: translateY(-30%);
        width:min(98%, 600px);
        padding:1em;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .inputField{
        width: 80%;
        position: relative;
        height: $mainInputHeight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &::before{
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 0 .5rem rgba(black, .7);
            position: absolute;
            display: block;
            height: $mainInputHeight;
            border-radius: 1rem;
            display: none;
        }
        &:has(.main__input:focus)::before{
            display: block;
        }
    }
    .main__input{
        width: 100%;
        border-radius: 2rem;
        font-size: 18px;
        height: $mainInputHeight;
        border:none;
        padding:.5rem 1.2rem;
        &:focus{
            outline:none;
        }
        
    }
    .insideBtn{
        @extend .btn--important;
        position: absolute;
        right: 0;
        top:50%;
        padding-top: 0;
        padding-bottom: 0;
        padding:0 1.5rem;
        font-size: 16px;
        height: calc($mainInputHeight - .3rem);
        background-color: colors.$memberBg;
        transform: translate(-2%, -50%); 
        transition: opacity .3s;
        &:hover{
            transform: translate(-2%, -50%);
            opacity: .92;
        }
    }
    .scrollToInstruction{
        font-size: 16px;
        display: block;
        margin-top: .5rem;
        text-align: center;
    }
    .joinEventLink{
        display: block;
        text-shadow: none;
        color:white;
        font-size: 20px;
        font-weight: bold; 
        &:hover{
            text-decoration: underline;
        }
    }
   
}
.leftDownImg{
    position: absolute;
    top:75%;
    left:5%;
    width:10%;
  }
  .topRightImg{
    position: absolute;
    top:3%;
    right:5%;
    width:10%;
  }