@use '../abstracts/colors';
@use '../mixins/text';
body{
    background-color: hsl(0, 11%, 91%);
}
.link--back{
    font-size: 15px;
    margin-left: 1em;
    transition: color .3s;
    will-change:color;
    &:hover{
        text-decoration: underline;
    }
}
.line{
    position: absolute;
    background-color: #333;
    width: 100%;
    padding:.5px;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
}
.main__wishlist, .main__wishlist--other{
    min-height: 80vh;
    margin-left: 10%;
    min-width:50%;
    width: fit-content;
    .txt--title{
        // margin-bottom: 1em;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
    }
}
.main__wishlist--other{
    min-height: 60vh;
}
.input__wish{
    padding: .5em 1em;
    font-size:16px;
}
.wish__form{
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    // min-width: 50%;
    // width: min-content;
    box-shadow: 0 0 .5em rgba(0,0,0, .3);
    display: flex;
    flex-direction: column;
    gap: .8em;
    .btn{
        font-size: 14px;
        background-color: colors.$memberBg;
        min-width:10em;
        width: fit-content;
        align-self: center;
    }
}
.link__inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}
.wishes{
    background-color: white;
    margin-top:1em;
    display: flex;
    flex-direction: column;
    // min-width: 50%;
    // width: fit-content;
    gap: .5em;
}
.wish--white{
    display: grid;
    grid-template-columns: .5fr 1fr .2fr;
    gap: 3em;
    font-size: 18px;
    position: relative;
    align-items: center;
    padding: .6em .2em
}
.wish--gray{
    @extend .wish--white;
    background-color: rgb(239, 235, 235);
}
.wish__links{
    place-self: start;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.link{
    background-color: colors.$memberBg;
    padding: .3em .5em;
    color:white;
    border-radius: .5em;
    transition: transform .3s;
    will-change: transform;
    display: block;
    width: min-content;
    &:hover{
        transform: scale(1.05);
    }
}